{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current",
          "chrome": 52,
          "browsers": ["last 2 versions", "safari 7"]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
